body {
	background-color: #ffffff;
	width: 100%;
	padding: 0;
	color: #252525;
	margin: 0;
	overflow-x: hidden;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
footer,
header,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

input,
p,
div {
	box-sizing: border-box;
}

input {
	outline: none;
}

input[type='button'] {
	cursor: pointer;
}

body {
	line-height: 1;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;

	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}

button,
a,
img {
	cursor: pointer;
}
